<ion-view  view-title="Impressum">
  <ion-content ng-class="{'closestStateVisible':!isInExibition && !beaconManager.shouldDisplayClosestState()}">
    <div class="water-text-wrapper">
      <p>Die App »WASSER – wie es unsere Erde formt« ist eine Testversion und wurde für die nächste geplante
        Fotoausstellung von Bernhard Edmaier erstellt. Sie erscheint in erweiterter Form zur gleichnamigen Ausstellung,
        die erstmals ab Dezember 2017 im Museum Mensch und Natur in München gezeigt wird.</p>
      <p>Die App wurde im Rahmen einer Kooperation zwischen der Ludwig-Maximilians-Universität München (LMU München) und
        dem Museum Mensch und Natur (MMN) entwickelt.</p>

      <h4>Konzeptidee und Umsetzung:</h4>
      <p>Katharina Binder<br>
        Peter Gleixner<br>
        Alexander Kenkenberg<br>
        Maximilian Körner<br>
        Daniela Paulescu<br>
        unter Anleitung von Prof. Dr. Florian Alt und Daniel Buschek (Lehrstuhl für Angewandte Informatik und
        Medieninformatik, LMU)</p>

      <h4>Inhalte:<br></h4>
      <p>Bernhard Edmaier<br>
        Dr. Angelika Jung-Hüttl<br>
        Dr. Gilla Simon (MMN)</h4>

      <p>Wir danken dem Deutschen Museum Flugwerft Schleißheim für die Möglichkeit, die App im Rahmen einer Studie
        testen zu können.</p>
    </div>
  </ion-content>
</ion-view>
